@if (tag() === 'a' && href()) {
  <a
    [href]="href()"
    [class]="buttonClasses()"
    [attr.disabled]="disabled() || null"
  >
    @if (loading() && !hideLoadingSpinner()) {
      <span class="loading loading-spinner loading-xs mr-1"></span>
    }
    <ng-content />
  </a>
} @else if (tag() === 'router-link' && routerLinkPath()) {
  <a
    [routerLink]="routerLinkPath()"
    [class]="buttonClasses()"
    [attr.disabled]="disabled() || null"
  >
    @if (loading() && !hideLoadingSpinner()) {
      <span class="loading loading-spinner loading-xs mr-1"></span>
    }
    <ng-content />
  </a>
} @else {
  <button
    [type]="type()"
    [class]="buttonClasses()"
    [disabled]="disabled() || loading()"
    (click)="clicked.emit($event)"
  >
    @if (loading() && !hideLoadingSpinner()) {
      <span class="loading loading-spinner loading-xs mr-1"></span>
    }
    <ng-content />
  </button>
}
