<div class="w-full">
  @if (label()) {
  <label
    [for]="inputId"
    class="label"
    >{{ label() }}</label
  >
  }

  <div
    ngCombobox
    #cb="ngCombobox"
    class="agc-wrap"
    filterMode="manual"
  >
    <div
      #origin
      class="agc-anchor"
    >
      <input
        [id]="inputId"
        ngComboboxInput
        type="text"
        class="input w-full"
        [value]="query()"
        (valueChange)="query.set($event)"
        [placeholder]="placeholder() || ('components.accountGroupCombobox.newGroupPlaceholder' | translate)"
        [attr.aria-label]="label() || placeholder()"
        autocomplete="off"
      />
    </div>

    <ng-template ngComboboxPopupContainer>
      <ng-template
        [cdkConnectedOverlay]="{ origin, usePopover: 'inline', matchWidth: true }"
        [cdkConnectedOverlayOpen]="true"
      >
        <div class="agc-popup">
          <div
            ngListbox
            class="agc-list"
            [values]="selectedValues()"
            (valuesChange)="onValuesChange($event); cb.close()"
          >
            @for (group of filtered(); track group.id) {
            <div
              ngOption
              [value]="group.id"
              [label]="group.name"
              class="agc-option"
            >
              {{ group.name }}
            </div>
            }
          </div>
          @if (canCreate()) {
          <button
            type="button"
            class="agc-create"
            (click)="createAccountGroup(); cb.close()"
          >
            @if (creating()) {
            {{ 'components.accountGroupCombobox.creating' | translate }}
            } @else {
            {{ 'components.accountGroupCombobox.createNew' | translate }}: "{{ query() }}"
            }
          </button>
          }
        </div>
      </ng-template>
    </ng-template>
  </div>
</div>
